.row {
    margin:0 20px;
    color: #fff;

}

.posters {
    display: flex;
    padding: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;

}

.posters::-webkit-scrollbar {
    height: 0;
}

.poster {
cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    transition: transform ease-in-out 0.2s;
}

.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    transition: transform ease-in-out 0.2s;
}

.poster:hover,
.smallPoster:hover {
    transform: scale(1.09);
}

@media screen and (max-width: 480px) {
    .poster {
       
            max-height: 153px;
        
        }
        .smallPoster{
 
            max-height: 53px;
          
        }
}